<div class="grid grid-3col">
    <div class="resource flexcol flex-group-center">
        <label for="data.sex" class="resource-label2">Sex</label>
        <input
            type="text"
            name="data.sex"
            value="{{data.sex}}"
            data-dtype="Text"
        />
    </div>
    <div class="resource flexcol flex-group-center">
        <label for="data.subclass" class="resource-label2">Subclass</label>
        <input
            type="text"
            name="data.subclass"
            value="{{data.subclass}}"
            data-dtype="Text"
        />
    </div>

    <div class="resource flexcol flex-group-center">
        <label for="data.editMode" class="resource-label2"
            >Edit:</label
        >
        <input name="data.editMode" type="checkbox" {{checked data.editMode}} />
    </div>
</div>
<br />

<section>
    <h2>Attributes and Ability scores</h2>
    <div class="atr-grid">
        {{#if data.editMode}}
        {{> "systems/loghorizon/templates/actor/partials/editStats.hbs"}}

        {{else}}
        {{> "systems/loghorizon/templates/actor/partials/noEditStats.hbs"}}

        {{/if}}

        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.athletics.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.athletics.value"
                data-label="Athletics"
            >Athletics</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.athletics.value"
                data-label="Athletics"
            >{{numberFormat
                    data.abilities.athletics.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.disable.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.disable.value"
                data-label="Disable"
            >Disable</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.disable.value"
                data-label="Disable"
            >{{numberFormat
                    data.abilities.disable.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.perception.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.perception.value"
                data-label="Perception"
            >Perception</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.perception.value"
                data-label="Perception"
            >{{numberFormat
                    data.abilities.perception.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.knowledge.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.knowledge.value"
                data-label="Knowledge"
            >Knowledge</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.knowledge.value"
                data-label="Knowledge"
            >{{numberFormat
                    data.abilities.knowledge.value
                    decimals=0
                    sign=false
                }}</span>
        </div>

        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.endurance.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.endurance.value"
                data-label="Endurance"
            >Endurance</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.endurance.value"
                data-label="Endurance"
            >{{numberFormat
                    data.abilities.endurance.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.operate.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.operate.value"
                data-label="Operate"
            >Operate</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.operate.value"
                data-label="Operate"
            >{{numberFormat
                    data.abilities.operate.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.negotiation.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.negotiation.value"
                data-label="Negotiation"
            >Negotiation</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.negotiation.value"
                data-label="Negotiation"
            >{{numberFormat
                    data.abilities.negotiation.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.analyze.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.analyze.value"
                data-label="Analyze"
            >Analyze</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.analyze.value"
                data-label="Analyze"
            >{{numberFormat
                    data.abilities.analyze.value
                    decimals=0
                    sign=false
                }}</span>
        </div>

        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.accuracy.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.accuracy.value"
                data-label="Accuracy"
            >Accuracy</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.accuracy.value"
                data-label="Accuracy"
            >{{numberFormat
                    data.abilities.accuracy.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.evasion.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.evasion.value"
                data-label="Evasion"
            >Evasion</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.evasion.value"
                data-label="Evasion"
            >{{numberFormat
                    data.abilities.evasion.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
        <div class="ability flexcol flex-group-center">
            <label
                for="data.abilities.resistance.value"
                class="resource-label2 rollable"
                data-roll="2d6+@abilities.resistance.value"
                data-label="Resistance"
            >Resistance</label>
            <span
                class="ability rollable"
                data-roll="2d6+@abilities.resistance.value"
                data-label="Resistance"
            >{{numberFormat
                    data.abilities.resistance.value
                    decimals=0
                    sign=false
                }}</span>
        </div>
    </div>
</section>