<div class="resource flex-group-center">
    <label for="data.health.value" class="resource-label">
        Health
    </label>
    <div class="resource-content flexrow flex-center flex-between">
        <input
            type="text"
            name="data.health.value"
            value="{{data.health.value}}"
            data-dtype="Number"
        />
        <span> / </span>
        <input
            type="text"
            name="data.health.max"
            value="{{data.health.max}}"
            data-dtype="Number"
        />
    </div>

    <progress 
        id="health" 
        max={{data.health.max}} 
        value={{data.health.value}}
    ></progress>

</div>

<div class="resource flex-group-center">
    <label for="data.fate.value" class="resource-label">
        Fate
    </label>
    <div class="resource-content flexrow flex-center flex-between">
        <input
            type="text"
            name="data.fate.value"
            value="{{data.fate.value}}"
            data-dtype="Number"
        />
        <span> / </span>
        <input
            type="text"
            name="data.fate.max"
            value="{{data.fate.max}}"
            data-dtype="Number"
        />
    </div>

    <progress 
        id="health" 
        max={{data.fate.max}}
        value={{data.fate.value}}
    ></progress>

</div>
        
<div class="resource flex-group-center">
    <label for="data.hate.value" class="resource-label">
        Hate
    </label>
    <input
        type="text"
        name="data.hate.value"
        value="{{data.hate.value}}"
        data-dtype="Number"
    />
</div>