<form class="{{cssClass}}" autocomplete="off">

<div class = "sidebar">
    <section>
        <div class="grid grid-2col">
            <img
                class="profile-img"
                src="{{actor.img}}"
                data-edit="img"
                title="{{actor.name}}"
                height="100"
                width="100"
            />

            <div>
                <h1 class="charname">
                        <input
                            name="name"
                            type="text"
                            value="{{actor.name}}"
                            placeholder="Name"
                        />
                </h1>

                <div class="flexrow flex-group-center">
                    <label for="data.level.value" class="resource-label">
                        Level
                    </label>
                    <input
                        type="text"
                        name="data.level.value"
                        value="{{data.level.value}}"
                        data-dtype="Number"
                    />
                </div>
            </div>
        </div>
    </section>

    <hr>
    
    <section>
        <div class="grid grid-2col">
            <img
                class="class-img"
                src="{{data.class.img}}"
                data-edit="img"
                title="{{data.class.name}}"
                height="40"
                width="40"
            />
            <div class="flexcol">
                <label for="data.class.name" class="resource-label">
                    {{data.class.name}}
                </label>
                <span>{{data.class.data.archetype}}</span>
            </div>
        </div>
    </section>

    <hr>

    <div class="status">
        <section>
            {{> "systems/loghorizon/templates/actor/partials/statuscreen.hbs"}}
        </section>
    </div>
</div>

<section>
    {{!- > "systems/loghorizon/templates/actor/partials/baseStats.hbs"}}
</section>

</form>
